body{
    background-color: lightgray;
}

.inside-box{
    background-color: whitesmoke;
    padding: 30px 15px;
    margin: 30px 5px;
}
h1{
    padding:20px 0px;
    text-align: center;
    width: 50px;
   
}

img{
    width:150px;
    height:150px;
}

.flex-1{
    display:flex;
}

.flex-2{
    display:block;
    padding:20px 10px;
}

p{
    text-align: left;
}


@media (min-width: 768px){
    .flex-1{
        display:flex;
        justify-content:center;
    }
}